body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.navbar {
    width: 100%;
    background: #16b852;
    color: #fff;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.navbar li {
    margin: 0;
    padding: 1rem 0rem;
}

.navbar a {
    display: block;
    padding: 1em 1.5em;
    color: #fff;
    text-decoration: none;
}

.navbar img {
    height: 100px; /* Adjust the height as needed */
    margin-right: 1em; /* Space between image and links */
    margin-left: auto; /* Push the image to the right */
    display: block;
}
.navbar a:hover {
    background: #26e16b;
}